# Compiled object files
*.o
*.obj

# Compiled binary files
*.exe
*.out
*.app

# Static and Shared libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.dylib

# C++ Cache Files
*.cxx
*.pch
*.gch

# Debug and Release directories
[Dd]ebug/
[Rr]elease/

# Temporary files
*.tmp
*.log
*.bak
*.swp
*.swo

# IDE specific files
# Visual Studio
# .vscode/
.vs/
*.code-workspace
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# CLion
.idea/
cmake-build-*/

# Xcode
*.xcworkspace
*.xcuserstate
*.xcodeproj

# MacOS specific files
.DS_Store

# CMake specific files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Backup and temporary files
*~
*.swp
